body, html{
    background-color: #ff6500;
}
div{
    border: 5px solid #0f0;
}
p{
    border: 5px solid #0f0;
}
h1{
    border: 5px solid #0f0;
}
.card{
    background-color: #ffffff;
    width: 250px;
    border: 5px solid #0000ff;
}
.card-imagem{
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 10px;
    margin: 10px;
    border:1px double #ffff00;
}